$color_vivid_tangerine: #ffb399;
$color_white: #ffffff;
$color_cultured: #f4f2f0;
$color_davys_grey: #505051;
$color_jet: #2e2e30;
$color_eerie_black: #1e1f21;

$color_background: -webkit-linear-gradient(
    0deg,
    rgba(248, 159, 129, 1) 0%,
    rgba(255, 255, 255, 1) 100%
);

$box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
